/* Ensure the SVG takes up the available space */
:host {
    display: block;
    width: 100%;
    height: 100%;
}

svg {
    display: block;
    background-color: white;
    touch-action: none; /* Critical for mobile drawing */
}